/* styles.css */
.container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;

}


/* .background-container {
  background-image: url('../src/images/background/background.png');
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  /* Add any additional styles as needed */



